[submodule "dotdrop"]
	path = dotdrop
	url = ../../deadc0de6/dotdrop.git
	branch = master
[submodule "dotfiles/kitty-themes"]
	path = dotfiles/kitty-themes
	url = ../../dexpota/kitty-themes.git
	branch = master
[submodule "dotfiles/kitty-kittens/kitty_grab"]
	path = dotfiles/kitty-kittens/kitty_grab
	url = ../../yurikhan/kitty_grab.git
	branch = master
