"*":
  "atom-discord":
    behaviour:
      updateTick: 5000
    elapsed:
      handleRest: "resetAfterDelay"
      handleRestDelay: 600
    rest:
      restOnAfk: true
    smallImage:
      text: "custom"
      textCustom: "Compiling!"
  "atom-html-preview":
    scrollToCursor: true
    triggerOnSave: true
  "atom-ide-ui":
    "atom-ide-terminal":
      fontFamily: "fantasque-sans-mono, courier-new, courier, monospace"
    hyperclick:
      linuxTriggerKeys: "shiftKey,ctrlKey"
    use:
      "atom-ide-global": "always"
      hyperclick: "always"
  "atom-material-ui":
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "better-git-blame":
    searchInLayerEnabled: false
    sendUsageStatistics: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "wrap-guide"
      "atom-jshint"
      "linter"
      "exception-reporting"
      "metrics"
    ]
    packagesWithKeymapsDisabled: [
      "recursive-folding"
      "compare-files"
      "rst-preview-pandoc"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "FantasqueSansMonoRegular, noto, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 18
    preferredLineLength: 79
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
  fonts:
    fontFamily: "Fantasque Sans Mono No Loop K"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  github:
    automaticCommitMessageWrapping: true
  "ide-python":
    pylsPlugins:
      jedi_definition:
        follow_builtin_imports: true
        follow_imports: true
    python: "venv/bin/python"
  linter: {}
  "linter-eslint":
    disabling:
      disableWhenNoEslintConfig: false
    global:
      globalNodePath: "/usr/local"
      useGlobalEslint: true
  "linter-flake8":
    flakeErrors: true
  "linter-ui-default":
    panelHeight: 218
    showPanel: true
  "markdown-preview": {}
  minimap:
    autoToggle: false
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "multi-wrap-guide":
    locked: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "recursive-folding":
    clickCtrl: false
  "rst-preview-pandoc":
    pandocOpts: "-frst -thtml --webtex"
  "tree-view": {}
  welcome:
    showOnStartup: false
".js.source":
  editor:
    autoIndentOnPaste: true
  "multi-wrap-guide":
    columns: [
      71
      79
      99
    ]
".python.source":
  editor:
    autoIndentOnPaste: false
  "multi-wrap-guide":
    columns: [
      71
      79
    ]
".rust.source":
  "multi-wrap-guide":
    columns: [
      79
      99
    ]
